@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

a 
{
	text-decoration: none;
}

ul
{
	list-style-type: none;
}

#container
{
	margin: 0 auto;
	max-width: 1140px;
}

body
{
	font-family: Helvetica, Arial, sans-srief;
	font-size: 16px;
	color: #eee8e1;
}


#mainHeader
{
	background-color: #eee8e1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1 0 auto;
}

#logo
{
	margin: 0 auto;
	max-width: 120px;
	background-color: #1f1f7f;
	text-align: center;
}

#mainNav
{
	display: none;
	height: 70px;
}

#mainNav ul li a
{
	display: block;
	text-align: center;
	margin-left: 30px;
	padding: 5px 15px;
}

#hero
{
	height: 380px;
	background-color: #1f1f7f;
	text-align: center;
}

#intro
{
	height: 455px;
	background-color: #eee8e1;
	color: #24292f;
	text-align: center;
}

#homeGallery
{
	height: 1150px;
	background-color: #b51a1e;
	text-align: center;
	display: flex;
	flex-direction: column;
}

#advertise
{
	height: 160px;
	background-color: #1f1f7f;
	text-align: center;
}

#productList div
{
	min-height: 180px;
	min-width: 180px;
	background-color: #eee8e1;
	text-align: center;
	margin: 60px 70px;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

#action
{
	display: none;
	height: 150px;
	background-color: #1f1f7f;
	text-align: center;
}

#mainFooter
{
	height: 180px;
	background-color: #24292f;
	display: flex;
	flex-direction: row;
}

#footerLogo
{
	display: none;
}

#socialMedia
{
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	margin-top: 20px;
}

#socialMedia ul li
{
	height: 30px;
	width: 30px;
	margin-bottom: 15px;
	background-color: #eee8e1;
}

#footerNav
{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-top: 20px;
}

#footerNav ul li 
{
	margin-bottom: 10px;
}

#footerNav ul li a
{
	color: #eee8e1;
}